@charset "UTF-8";

//  mod-body-font-color の mixin一式
@mixin mod-body-color-style {
  color: $co-black-1;
}

@mixin mod-body-color-style2 {
  color: $co-black-1;
}

@mixin mod-body-color-style3 {
  color: $co-gray-5;
}

@mixin mod-body-color-style4 {
  color: $co-black-1;
}

@mixin mod-body-color-style5 {
  color: $co-black-1;
}

@mixin mod-body-color-style6 {
  color: $co-black-1;
}

@mixin mod-body-color-style7 {
  color: $co-black-1;
}

@mixin mod-body-color-style8 {
  color: $co-black-1;
}

@mixin mod-body-color-style9 {
  color: $co-brown-6;
}
