@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-item-tel
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-tel-ii+g系 の共通スタイル
// -------------------------------------
@mixin common-style-pat-item-tel-iig {
  margin: 10px 0 0 0;
  padding: 0;
  display: table;
  .mod-icon_ftel,
  .mod-icon_tel {
    margin: 0;
    padding: 0;
    display: table-cell;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  .mod-tel-inner {
    margin: 0;
    padding: 0;
    display: table-cell;
  }
}

// -------------------------------------
// pat-item-tel-ii+g の共通デザイン
// -------------------------------------
// Mサイズ
@mixin module-style-pat-item-tel-iig {
  text-align: left;
  .mod-icon_ftel {
    padding: 0 0 0 5px;
    width: 34px;
    background-image: url("img/_pat-item/tel/bg02.png");
  }
  .mod-icon_tel {
    padding: 0 0 0 5px;
    width: 25px;
  }
  .mod-tel-inner {
    .mod-tel-inner-2 {
      text-align: right;
      font-size: $fontSizeS;
      line-height: 1.0;
    }
    .mod-tel-inner-3 {
      margin: 3px 0 0 0;
      word-break: break-all;
      font-weight: bold;
      font-size: $fontSizeL + 14;
      line-height: 1.0;
    }
  }
}
@mixin module-style-pat-item-tel-ii-footer {
  margin: 0 auto;
  .mod-icon_ftel,
  .mod-icon_tel {
    width: 31px;
  }
  .mod-tel-inner {
    padding: 0 0 0 5px;
    word-break: break-all;
    font-size: $fontSizeM * 2;
    line-height: 1.0;
  }
}
@mixin module-style-pat-item-tel-sitename {}

// -------------------------------------
//  pat-item-tel-iig の個別設定
// -------------------------------------
// Mサイズ
@mixin deco-style-pat-item-tel-iig-1 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #f58804;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-2 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_2.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #274c7e;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-3 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_3.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #3d2612;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-4 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_4.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #0f375f;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-5 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_5.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #f3811e;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-6 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_6.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #f3811e;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-7 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_7.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #f27f1b;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-8 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_8.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #f27f1b;
    }
  }
}
@mixin deco-style-pat-item-tel-iig-9 {
  .mod-icon_tel {
    background-image: url("img/_pat-item/tel/bg_9.png");
  }
  .mod-tel-inner {
    .mod-tel-inner-3 {
      color: #eb5910;
    }
  }
}

//ii-footer
@mixin deco-style-pat-item-tel-ii-footer-1 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_a.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_a.png");
  }
  .mod-tel-inner {
    color: #333333;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-2 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_a_2.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_a_2.png");
  }
  .mod-tel-inner {
    color: #333333;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-3 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_a_3.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_a_3.png");
  }
  .mod-tel-inner {
    color: #45330d;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-4 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_b.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_b.png");
  }
  .mod-tel-inner {
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-5 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_b_3.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_b_3.png");
  }
  .mod-tel-inner {
    color: #443308;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-6 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_c.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_c.png");
  }
  .mod-tel-inner {
    color: #28446b;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-7 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_c_2.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_c_2.png");
  }
  .mod-tel-inner {
    color: #45494c;
  }
}
@mixin deco-style-pat-item-tel-ii-footer-8 {
  .mod-icon_ftel {
    background-image: url("img/mod-tel/_32/bg_c_3.png");
  }
  .mod-icon_tel {
    background-image: url("img/mod-tel/_32/bg02_c_3.png");
  }
  .mod-tel-inner {
    color: #45330b;
  }
}


// -------------------------------------
// pat-item-tel-ig or g系 の共通スタイル
// -------------------------------------
@mixin common-style-pat-item-tel-ig {
  @extend %inlineBlock;
  margin: 10px 0 0 0;
  padding: 0;
  .mod-tel-inner {
    margin: 0;
    padding: 0;
    font-size: $fontSizeM - 2;
    text-align: right;
    line-height: 1.0;
  }
  .mod-tel-inner2 {
    margin: 3px 0 0 0;
    padding: 0;
    background-position: left center;
    background-repeat: no-repeat;
    word-break: break-all;
    font-weight: bold;
    line-height: 1.0;
  }
}
@mixin size-style-pat-item-tel-g-side {
  .mod-tel-inner {
    font-size: $sideFontSizeS;
  }
  .mod-tel-inner2 {
    margin: 0;
    @if $layoutCode == "L25" {
      font-size: $sideFontSizeL + 2;
    } @else if $layoutCode == "L30" {
      font-size: $sideFontSizeL + 8;
    }
  }
}

// -------------------------------------
//  pat-item-tel-ig or g系 module-style
// -------------------------------------
@mixin module-style-pat-item-tel-ig-side { //mod-tel17
  .mod-tel-inner {
    padding: 0 0 0 30px;
  }
  .mod-tel-inner2 {
    padding: 6px 0 0 30px;
  }
}
@mixin module-style-pat-item-ftel-ig-side { //mod-tel17
  .mod-tel-inner {
    padding: 0 0 0 30px;
  }
  .mod-tel-inner2 {
    padding: 6px 0 0 30px;
    background-image: url("img/mod-ftel/bg.png");
  }
}
@mixin module-style-pat-item-tel-g-side { //mod-tel18
  .mod-tel-inner2 {
    padding: 6px 0 0 0;
  }
}

// -------------------------------------
//  pat-item-tel-ig の個別設定
// -------------------------------------
@mixin deco-style-pat-item-tel-g-side-1 {
  .mod-ftel-inner {
    color: #333333;
  }
  .mod-ftel-inner2 {
    color: #f7931d;
  }
}
@mixin deco-style-pat-item-tel-g-side-2 {
  .mod-ftel-inner {
    color: #333333;
  }
  .mod-ftel-inner2 {
    color: #426ca6;
  }
}
@mixin deco-style-pat-item-tel-g-side-3 {
  .mod-ftel-inner {
    color: #45320b;
  }
  .mod-ftel-inner2 {
    color: #eb5910;
  }
}
// igはgの下に入れる前提
@mixin deco-style-pat-item-tel-ig-side-1 {
  .mod-tel-inner2 {
    background-image: url(img/mod-tel/bg08.png);
  }
}
@mixin deco-style-pat-item-tel-ig-side-2 {
  .mod-tel-inner2 {
    background-image: url(img/mod-tel/bg08_2.png);
  }
}
@mixin deco-style-pat-item-tel-ig-side-3 {
  .mod-tel-inner2 {
    background-image: url(img/mod-tel/bg08_3.png);
  }
}


// --------------------------------------------
// 電話番号　mod-tel-sitename
// --------------------------------------------
@mixin common-style-pat-item-tel-sitename {
  display: table;
  vertical-align: bottom;//
  margin: 0 auto;//
  padding: 0;
  i {
    display: table-cell;
    width: 31px;//
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  .mod-icon_ftel {
    background-image: url("img/mod-sitename/bg_10.png");//
  }
  .mod-tel-inner {
    margin: 0;
    padding: 0 0 0 3px;
    display: table-cell;
    .mod-telnum-sitename {
      margin: 0;
      padding: 0;
      background-image: none;
    }
  }
  .mod-tel-inner.ex-first-child {
    > p.mod-telnum-sitename {
      font-size: $fontSizeL + 10;
    }
  }
  .mod-tel-golo-sitename {
    text-align: right;
    font-size: $fontSizeS;
    line-height: 1;
    margin: 7px 0 0 0;
    padding: 0;
  }
  p.mod-telnum-sitename {
    margin-top: 3px;
    word-break: break-all;
    font-size: $fontSizeL + 7;
    line-height: 1;
  }
}

// -------------------------------------
//  pat-item-tel-sitename module-style
// -------------------------------------
@mixin module-style-pat-item-tel-sitename {}
@mixin module-style-pat-item-tel-sitename-2 { //toiawaseの中
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_7.png");
  }
  .mod-telnum-sitename {
    margin: 0 auto;
    padding: 0 0 1px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 0.9;
  }
}

@mixin size-style-mod-tel-sitename-L {
  .mod-tel-inner.ex-first-child {
    > p.mod-telnum-sitename {
      font-size: $fontSizeL + 14;
    }
  }
  .mod-tel-golo-sitename {
    font-size: $fontSizeS + 1;
  }
  p.mod-telnum-sitename {
    font-size: $fontSizeL + 12;
  }
}

// -------------------------------------
//  pat-item-tel-sitename deco-style
// -------------------------------------
@mixin deco-style-pat-item-tel-sitename-1 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
  .mod-telnum-sitename {
    color: #333333;
  }
}

@mixin deco-style-pat-item-tel-sitename-2 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_2.png");
  }
  .mod-telnum-sitename {
    color: #365a8a;
  }
}

@mixin deco-style-pat-item-tel-sitename-3 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_3.png");
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
}

@mixin deco-style-pat-item-tel-sitename-4 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_4.png");
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
}

@mixin deco-style-pat-item-tel-sitename-5 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_4.png");
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
}

@mixin deco-style-pat-item-tel-sitename-6 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
}

@mixin deco-style-pat-item-tel-sitename-7 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
  .mod-telnum-sitename {
    color: #284469;
  }
}

@mixin deco-style-pat-item-tel-sitename-8 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_5.png");
  }
  .mod-telnum-sitename {
    color: #f7931d;
  }
}

@mixin deco-style-pat-item-tel-sitename-9 {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_6.png");
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
}

@mixin deco-style-pat-item-tel-sitename-10 { //toiawaseの中
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_7.png");
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
}

